.text.outside {
    width: 100%;
    padding: 40px;
}
img{width: 100%;}
.text.inside{
border-left: 3px solid #608bf5;
    min-height: 200px;
    padding-left: 20px;
}

@media screen and (max-width: 600px) {
    .text.inside{
        width: 100%;
    }
    h1.content{
        color: #091f8e;
        font-size: 25px;
    }
    h5.coordonnateur{
        font-size: 12px;
    }
    h4.key-words{
        font-size: 12px;
        font-style: italic;
    }
    p.author{
        font-size: 8px;
    }
    .article.content{
        font-size: 10px;

    }
}

@media screen and (min-width: 601px) {
    .text.inside{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 760px;
    }
}
.numeroName.content{
    flex-direction: column;
    display: flex;
    padding-left: 10px;
}
h1.content{
    color: #091f8e;
}
h5.coordonnateur{
    font-size: 15px;
}
p.author{
    font-size: 15px;
}
.article.content{
    font-size: 18px;
}

/*********innerText************/
.inside h1 {
    color:#091f8e;
    text-align: left;
    text-justify: inter-word;
    hyphens: none;
}
h4.auteur-info{
    color: #323134;
    font-size: 18px;
}
h4.key-words{
    font-size: 12px;
    font-style: italic;
}
h5.auteur-info{
    color: #323134;
    font-size: 14px;
}
.auteur{
    color: #323134;
    font-size: 18px;
}
.inside h2.titre{
    color:#091f8e;
    font-size: 2.5rem;
    text-align: left;
    text-justify: inter-word;
    hyphens: none;
}

.textContainer{
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}
@media screen and (max-width: 601px) {
    .inside h1 {
        font-size: 1.5rem;
    }
    .inside h2.titre{
        font-size: 1.5rem;
    }
    h4.auteur-info{
        font-size: 12px;
    }
    h4.key-words{
        font-size: 12px;
        font-style: italic;
    }
    h5.auteur-info{
        font-size: 10px;
    }
}
