.new-numero.text-input{
    width: 100%;
    margin-bottom: 10px;
}
#submit-new-numero{
   float: right;
}

.edit-numero.text-input{
    width: 100%;
    margin-bottom: 10px;
}
#submit-edit-numero{
    float: right;
}
.info-numero{
    display: flex;
    justify-content: space-between;
}
.info-numero h5{
    font-size: 12px;
    margin-right: 20px;
    text-decoration: underline;
}
.info-numero-control{
    display: flex;
    justify-content: space-between;
}
.numero-element.index{
    display: flex;
    width: 80%;
}
.numero-element.publish{
    margin-right: 10px;
}

